*{
  margin: 0;
  padding: 0;

}

img{
  max-width: 300px;
  max-height: 300px;
  min-width: 240px;
  min-height: 240px;
  position: absolute;
  margin: auto;
}
ul{
  margin: 0 auto;
  display: inline-block;
}

li{
  position: relative;
  width: 300px;
  height: 300px;
  display: inline-block;
  border: 5px solid black;
  border-radius: 10px;
  margin: 10px;
}

.disp{
  border: none;
  display: block;
  width: auto;
  height: auto;
}

h1 {
  text-align: center;
  border: solid 2px cyan;
  border-radius: 15px;
  color: #000;
  background: lightgray;
}
